@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Cuprum/Cuprum-Regular.woff2") format("woff2"), 
       url("../fonts/Cuprum/Cuprum-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Cuprum/Cuprum-Bold.woff2") format("woff2"), 
       url("../fonts/Cuprum/Cuprum-Bold.woff") format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Cuprum/Cuprum-Italic.woff2") format("woff2"), 
       url("../fonts/Cuprum/Cuprum-Italic.woff") format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/PT-Sans/PTSans-Regular.woff2") format("woff2"), 
       url("../fonts/PT-Sans/PTSans-Regular.woff") format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PT-Sans/PTSans-Bold.woff2") format("woff2"), 
       url("../fonts/PT-Sans/PTSans-Bold.woff") format('woff');
}


*, *::after, *::before {
  box-sizing: border-box;
}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  margin-bottom: 59px;
}

.main-header ul {
  padding-inline-start: 0;
}

.main-bar {
  display: flex;
  justify-content: center;
  background-color: #293449;
  
}

.main-bar .container {
  color: #fff;
  width: 940px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.main-logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, .24)
}


.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-bar .search-main-bar {

  display: flex;
  align-items: center;
  margin-right: auto;
}

.search-form {

  width: 270px;
  background-color: transparent;
  border: none;
}

.search-form::placeholder {
  padding-left: 49px;

  color: #fff;
}

.search-icon {
  fill: #fff;
  opacity: .3;
}

.search:hover {
  background-color: #212a3a;
}

.search-form:hover + .search-icon {
  opacity: 1;
}

.search-form:focus {
  background-color: #fff;
  font-size: 17px;
  line-height: 18px;
  color: #000;
}

.search-form:focus + .search-icon {
  fill: red;
  opacity: 1;
}

.bar-buttons {
  display: flex;
  justify-content: flex-end;
  
}

.bar-buttons .wrapper {
  height: 42px;
  width: 435px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  color: white;

}

.bar-buttons .bookmarks {
  margin-right: 46px;
}

.bar-buttons .basket {
  margin-right: 31px;
}

.bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  opacity: .3;
  padding-right: 13px;
}

.basket::before,
.in-basket::before {
  content: url("../img/icon-cart.svg");
  opacity: .3;
  padding-right: 17px;
}

.bookmarks:hover::before,
.basket:hover::before,
.in-basket:hover::before {
  opacity: 1;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:active::before,
.basket:active::before,
.in-basket:active::before {
  opacity: .5;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, .6);
}

.in-basket {
  background-color: #ee3643;
}

.arrange {
  height: 42px;
  width: 150px;
  background-color: #63a63e; 
}

.arrange:hover {
  background-color: #5fbb2d;
}

.arrange:active {
  background-color: #518534;
  color: rgba(255, 255, 255, .5);
}


.header {
  background-color: #f4f7f9;

}
.header-wrapper {
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
}

.header-wrapper .container {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-top: 54px;
  margin-left: 53px;

  display: inline-block;
  width: 196px;
  height: 30px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}


.tel-address-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-tel {
  margin-top: 46px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #fff;
  text-align: center;
}

.header-tel::before {
  content: url('../img/icon-phone.svg');
}

.header-address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header ul {
  list-style: none;
}

.button-login {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.authorization {
  display: flex;
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 121px;
  height: 45px;
  background-color: #fff;
}

.button-login {
  fill: #c5c5c5;
}

.button-login:hover {
  fill: #32425c;
  color: #ee3643;
}

.button-login:active {
  fill: rgba(0, 0, 0, .3);
  color:rgba(0, 0, 0, .3);
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 150px;
  height: 45px;
}

.personal-account {
  background-color: #fff;
}

.personal-account a {
  color: #000;
}

.personal-icon {
  fill: #c5c5c5;
}

.personal-account a:hover ~ .personal-icon {
  fill: #293449;
}

.personal-account a:active {
  color: rgba(0, 0, 0, .3);
}

.personal-account a:active ~ .personal-icon {
  opacity: .3;
}

.personal-activity a {
  color: #32425c;
  text-decoration: underline;
}

.personal-activity li:last-child::before {
  font-family: "PT Sans", "Arial", sans-serif;
  content: "\2022";
  color: #32425c;
}

.personal-activity a:hover {
  color: #ee3643;
}

.personal-activity a:active {
  color: rgba(50, 66, 92, .3);
}

.main-nav {
  display: flex;
  justify-content: center;
}

.main-nav .container {
  display: flex;
  justify-content: center;
  width: 940px;
  min-height: 60px;
}

.main-nav ul {
  width: 940px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}

.main-nav li:hover {
  background-color: #293449;
}

.main-nav a:active {
  color: rgba(255, 255, 255, .5);
}

.main ul {
  list-style: none;
}

.catalog {
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.sort {
  background-color: #f7f3ec;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
}

.sort-type1,
.sort-type2 {
  list-style: none;
}

.sort-type1 a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, .3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-type1 a:hover {
  color: #000;
  border-bottom: 1px solid #ee3643;
}

.sort-type1 a:active {
  color: #ee3643;
  border: none;
}

.sort-type2 svg{
  opacity: .3;
}

.sort-type2 svg:hover {
  opacity: 1;
}

.sort-type2 svg:active {
  fill: #ee3643;
}

.filter-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #000;
  background-color: #f7f3ec;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-form .filter-manufacturer {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form ul {
  list-style: none;
}

.filter-form li {
  text-transform: uppercase;
}

.filter-form button {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.filter-form button:active {
  color: #000;
}

.range {
  background-color: #f7f3ec;
}

.filter-form input {
  background-color: #f7f3ec;
  border: none;
  text-align: center;
}

.main-cards {
  background-color: #fff;
  margin-bottom: 53px;
}

.cards p {
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-align: left;
}

.cards a {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
  text-transform: uppercase;
}

.cards a:hover {
  background-color: rgba(0, 0, 0, .2);
}

.cards a:active {
  background-color: rgba(0, 0, 0, .3);
}

.materials {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider {
  background-color: #523c36;
}

.slider-left,
.slider-right {
  border: none;
  background-color: transparent;
}

.slider-left::before {
  content: url("../img/icon-left.svg");
  border: none;
}

.slider-right::before {
  content: url("../img/icon-right.svg");
  background-color: transparent;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li:first-child::before {
  content: url("../img/icon-home.svg");
}

.breadcrumbs li:not(:first-child)::before {
  content: url("../img/icon-right-small.svg");
}

.breadcrumbs a {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.slider-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #fff;
}

.slider-text {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}

.slider ul {
  list-style: none;
}

.slider a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}

.popular {
  display: flex;
  justify-content: center;
  
  margin-bottom: 20px;
}

.popular .container {
  display: flex;
  
  width: 940px;
  height: 89px;
  
  justify-content: space-between;
  align-items: flex-end;
  background-color: #f9f5f0;

}

.popular h2 {
  margin: 33px 0 30px 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.popular a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 24px 26px 0;
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #fff;
  text-transform: uppercase;
}


.product {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.product .container {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.product-card {
  width: 220px;
  min-height: 318px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  font-family: "PT Sans", "Arial", sans-serif;
}

.product-card a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
}

.product-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product-price span {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-price a {
  background-color: #ee3643;
  color: #fff;
  font-size: 17px;
  line-height: 18px;
}

.manufacturer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 940px;
  height: 310px;
  margin-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
}

.manufacturer ul {

  width: 940px;
  height: 290px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.manufacturer li {
 
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.manufacturer li:nth-child(4n+4) {
  margin-right: 0;
}

.manufacturer li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, .5);
}

.manufacturer li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, .8);
  opacity: .3;
}

.info {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #fff;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.info h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info ul {
  list-style: none;
}

.services,
.about-punches {
  background-color: #f4f7f9;
}

.services-item li {
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #fff;
  box-shadow: 
    0px 1px 0 0 #293449, 
    inset 0px 1px 0 0 #405069;
}

.services-item li:hover {
  background-color: #293449;
}

.service-item li:active {
  color: #32425c;
  background-color: #fff;
}

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  border: 1px solid #e5e5e5;
}

.pagination .current {
  border: none;
  color: #fff; 
  background-color: #ee3643;
}

.pagination a:not(.current):hover {
  border: 1px solid #bdc6ca;
}

.pagination a:not(.current):active {
  border: 1px solid #ee3643;
}

.info-wrapper {
  height: 370px;
  display: flex;
  justify-content: center;
}

.info h2 {
  margin-block-start: 0;
    margin-block-end: 0;

}

.info-wrapper .container {
  display: flex;
  width: 940px;
  justify-content: space-between;
}

.company-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 520px;
}

.company-wrapper ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.contact-wrapper {
  width: 300px;
  
}

.company li {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.company li::before {
  content: '\2014';
  width: 300px;
  height: 2px;
  color: #ee3643;
}

.company a,
.button-write {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.footer {
  font-display: flex;
  justify-content: center;
}

.footer-top {
  background-color: #32425c;
  display: flex;
  justify-content: center;
  padding-bottom: 53px;
}

.footer-top .container {
  width: 940px;
  display: flex;
  flex-direction: column;
}

.footer-nav-top {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.footer-top .footer-top-wrapper-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-wrapper-top ul {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top-wrapper-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.footer-top-wrapper-bottom ul {
  width: 524px;
  display: flex;
  justify-content: space-between; 
}

.footer-nav-bottom {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  align-items: flex-start;
}

.footer-top-wrapper-bottom p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer-top-wrapper-bottom div {
  display: flex;
  flex-direction: column;
}

.footer ul {
  
  list-style: none;
}

.footer li {
  font-size: 18px;
  line-height: 24px;
}

.footer-top div {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-top {
  background-color: #32425c;
}

.footer-top li:hover {
  text-decoration: underline;
}

.footer-top li:active {
  text-decoration: none;
  opacity: .5;
}

.footer-nav-bottom a {
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
  display: flex;
  justify-content: center;
  min-height: 107px;
}

.footer-bottom .container {
  width: 940px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.copyright {
  font-size: 16px;
  color: #fff;
}

.social {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  display: flex;
}

.social li {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  text-align: center;
  border-radius: 50%;
  margin-right: 3px;
}

.social li:nth-child(3) {
  margin-right: 0;
}


.vk::before {
  content: url("../img/icon-vk.svg")
}

.fb::before {
  content: url("../img/icon-fb.svg")
}

.inst::before {
  content: url("../img/icon-insta.svg")
}

.social li:hover,
.social li:active {
  background-color: #ee3643;
}

.footer-info {
  display: flex;
  font-size: 16px;
}



.footer-info p {
  width: 96px;
  color: #fff;
}

.footer-info p:first-child {
  width: 135px;
  margin-right: 53px;
}

.footer-info a {
  color: #ffd180;
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-info a:active {
  text-decoration: none;
  color: #ee3643;
}

.close-form {
  border: none;
  background-color: transparent;
}

.close-form::before {
  content: url("../img/form-close.svg");
}

.map img {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, .75);
}

.feedback {
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, .75);
}

.feedback label {
  font-size: 18px;
  line-height: 18px;
}

.feedback input,
.feedback textarea {
  border: 2px solid #d7dcde;
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid #b5b5b5;
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid #ee3643;
}

.button-send {
  background-color: #f4f4f4;
}

.button-send button {
  border: none;
  background-color: #ee3643;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.add-basket {
  width: 620px;
  height: 282px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, .75);
}

.add-basket p {
  font-size: 30px;
  line-height: 30px;
  color: #000;
}

.add-basket p::before {
  content: url("../img/modal-check.svg")
}

.add-basket ul {
  list-style: none;
}

.add-basket a {
  text-transform: uppercase;
}

.place-order {
  color: #fff;
  background-color: #ee3643;
}

.continue-purchase {
  color: #000;
  background-color: #fff;
}

.popup-footer {
  height: 112px;
  background-color: #f1f1f1;
}


