body  {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-bar {
   background-color: #293449;
   color: #ffffff;
}

.main-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24)
}

.main-logo:hover {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.search-form {
  background-color: transparent;
  border: none;
}

.search-form::placeholder {
  color: #ffffff;
}

.search-icon {
  fill: #ffffff;
  opacity: 0.3;
}

.search:hover {
  background-color: #212a3a;
}

.search-form:hover + .search-icon {
  opacity: 1;
}

.search-form:focus {
  background-color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.search-form:focus + .search-icon {
  fill: red;
  opacity: 1;
}

.bar-buttons {
  font-size: 17px;
  line-height: 18px;
  color: white;
}

.bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.basket::before,
.in-basket::before {
  content: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before,
.in-basket:hover::before {
  opacity: 1;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:active::before,
.basket:active::before,
.in-basket:active::before {
  opacity: 0.5;
}

.bookmarks:active,
.basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.in-basket {
  background-color: #ee3643;
}

.arrange {
  background-color: #63a63e; 
}

.arrange:hover {
  background-color: #5fbb2d;
}

.arrange:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header {
  width: inherit;
  height: 320px;
  background-color: #f4f7f9;
}

.header-title {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-tel {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  text-align: center;
}

.header-tel::before {
  content: url('../img/icon-phone.svg');
}

.header-adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.header ul {
  list-style: none;
}

.button-login {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.login {
  width: 121px;
  height: 45px;
  background-color: #ffffff;
}

.button-login {
  fill: #c5c5c5;
}

.button-login:hover {
  fill: #32425c;
  color: #ee3643;
}

.button-login:active {
  fill: rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3);
}

.signup {
  background-color: #ffffff;
  width: 150px;
  height: 45px;
}

.personal-account {
  background-color: #ffffff;
}

.personal-account a {
  color: #000000;
}

.personal-icon {
  fill: #c5c5c5;
}

.personal-account a:hover ~ .personal-icon {
  fill: #293449;
}

.personal-account a:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-account a:active ~ .personal-icon {
  opacity: 0.3;
}

.personal-activity a {
  color: #32425c;
  text-decoration: underline;
}

.personal-activity li:last-child::before {
  font-family: "PT Sans", "Arial", sans-serif;
  content: "\2022";
  color: #32425c;
}

.personal-activity a:hover {
  color: #ee3643;
}

.personal-activity a:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-navigation ul {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}

.header-navigation li:hover {
  background-color: #293449;
}

.header-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.main ul {
  list-style: none;
}

.main-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
}

.main-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.sort {
  background-color: #f7f3ec;
}

.sort-title {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.sort-type1,
.sort-type2 {
  list-style: none;
}

.sort-type1 a {
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-type1 a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type1 a:active {
  color: #ee3643;
  border: none;
}

.sort-type2 svg{
  opacity: 0.3;
}

.sort-type2 svg:hover {
  opacity: 1;
}

.sort-type2 svg:active {
  fill: #ee3643;
}

.filter-title {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  background-color: #f7f3ec;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.filter-form .filter-manufacturer {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form ul {
  list-style: none;
}

.filter-form li {
  text-transform: uppercase;
}

.filter-form button {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.filter-form button:active {
  color: #000000;
}

.range {
  background-color: #f7f3ec;
}

.filter-form input {
  background-color: #f7f3ec;
  border: none;
  text-align: center;
}

.main-cards {
  background-color: #ffffff;
}

.cards p {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
}

.cards a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.cards a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cards a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.discounts {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider {
  background-color: #523c36;
}

.slider-left,
.slider-right {
  border: none;
  background-color: transparent;
}

.slider-left::before {
  content: url("../img/icon-left.svg");
  border: none;
}

.slider-right::before {
  content: url("../img/icon-right.svg");
  background-color: transparent;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li:first-child::before {
  content: url("../img/icon-home.svg");
}

.breadcrumbs li:not(:first-child)::before {
  content: url("../img/icon-right-small.svg");
}

.breadcrumbs a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.slider-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
}

.slider-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.slider ul {
  list-style: none;
}

.slider a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
}

.slider a:hover {
  background-color: #ca2c37;
}

.slider a:active {
  background-color: #ba2732;
}

.popular {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.popular a {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  color: #ffffff;
}

.product-card {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: "PT Sans", "Arial", sans-serif;
}

.product-card a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.product-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.product-price span {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product-price a {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.manufacturer ul {
  list-style: none;
}

.manufacturer li {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.manufacturer li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturer li:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.8);
  opacity: 0.3;
}

.info {
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ffffff;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.info h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.info ul {
  list-style: none;
}

.services,
.about-punches {
  background-color: #f4f7f9;
}

.services-item li {
  width: 240px;
  height: 61px;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  color: #ffffff;
  box-shadow: 
    0px 1px 0 0 #293449, 
    inset 0px 1px 0 0 #405069;
}

.services-item li:hover {
  background-color: #293449;
}

.service-item li:active {
  color: #32425c;
  background-color: #ffffff;
}

.pagination {
  list-style: none;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.pagination .current {
  border: none;
  color: #ffffff; 
  background-color: #ee3643;
}

.pagination a:not(.current):hover {
  border: 1px solid #bdc6ca;
}

.pagination a:not(.current):active {
  border: 1px solid #ee3643;
}

.company li {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.company li::before {
  content: '\2014';
  width: 300px;
  height: 2px;
  color: #ee3643;
}

.company a,
.button-write {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
}

.footer ul {
  list-style: none;
}

.footer li {
  font-size: 18px;
  line-height: 24px;
}

.footer-one div {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-logo {
  background-color: #ee3643;
  box-shadow: 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.footer-one {
  background-color: #32425c;
}

.footer-one li:hover {
  text-decoration: underline;
}

.footer-one li:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-yellow a {
  color: #ffd180;
}

.footer-two {
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  color: #ffffff;
}

.social li {
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  text-align: center;
  border-radius: 50%;
}

.vk::before {
  content: url("../img/icon-vk.svg")
}

.fb::before {
  content: url("../img/icon-fb.svg")
}

.inst::before {
  content: url("../img/icon-insta.svg")
}

.social li:hover,
.social li:active {
  background-color: #ee3643;
}

.footer-info {
  font-size: 16px;
}

.footer-info p {
  color: #ffffff;
}

.footer-info a {
  color: #ffd180;
}

.footer-info a:hover {
  text-decoration: underline;
}

.footer-info a:active {
  text-decoration: none;
  color: #ee3643;
}

.close-form {
  border: none;
  background-color: transparent;
}

.close-form::before {
  content: url("../img/form-close.svg");
}

.map img {
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback {
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback label {
  font-size: 18px;
  line-height: 18px;
}

.feedback input,
.feedback textarea {
  border: 2px solid #d7dcde;
}

.feedback input:hover,
.feedback textarea:hover {
  border: 2px solid #b5b5b5;
}

.feedback input:focus,
.feedback textarea:focus {
  border: 2px solid #ee3643;
}

.button-send {
  background-color: #f4f4f4;
}

.button-send button {
  border: none;
  background-color: #ee3643;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.add-basket {
  width: 620px;
  height: 282px;
  border-top: 7px solid #ee3643;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.add-basket p {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.add-basket p::before {
  content: url("../img/modal-check.svg")
}

.add-basket ul {
  list-style: none;
}

.add-basket a {
  text-transform: uppercase;
}

.place-order {
  color: #ffffff;
  background-color: #ee3643;
}

.continue-purchase {
  color: #000000;
  background-color: #ffffff;
}

.popup-footer {
  height: 112px;
  background-color: #f1f1f1;
}


